<div class="projects-container">
  <h1>Things I've Built</h1>
  <div class="projects-content">
    <p>{{ projectsDescription }}</p>
    <div class="category-tabs">
      <button 
        *ngFor="let category of categories" 
        (click)="selectCategory(category)"
        [class.active]="category === selectedCategory">
        {{ category }}
      </button>
    </div>
    <div class="project-list" [@listAnimation]="projects.length">
      <div class="project-item" *ngFor="let project of paginatedPosts"
        [hidden]="loading" [routerLink]="['/projects', project.id]"
      >
        <div class="project-image">
          <img [src]="project.thumbnailUrl" alt="{{ project.name }} thumbnail" />
        </div>
        <div class="project-details">
          <div class="project-header">
            <h3>{{ project.name }}</h3>
            <div class="project-links">
              <a
                [href]="project.githubUrl"
                *ngIf="project.githubUrl"
                target="_blank"
                rel="noopener noreferrer"
                class="link"
                >GitHub</a
              >
              <a [routerLink]="['/projects', project.id]" class="link"
                >Details</a
              >
            </div>
          </div>
          <p class="project-description">{{ project.shortDescription }}</p>
          <div class="tech-list">
            <ng-container
              *ngFor="
                let tech of project.technologies?.split(',');
                let i = index
              "
            >
              <span class="tech" *ngIf="i < 4">{{ tech.trim() }}</span>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination" *ngIf="totalPages > 1">
      <button 
        *ngFor="let page of pages" 
        (click)="changePage(page)"
        [class.active]="page === currentPage">
        {{ page }}
      </button>
    </div>
  </div>
</div>
