<div class="blog-container">
  <h1>What I've Been Exploring</h1>
  
  <div class="blog-content">
    <p>{{ blogDescription }}</p>
    <div class="category-tabs">
      <button 
        *ngFor="let category of categories" 
        (click)="selectCategory(category)"
        [class.active]="category === selectedCategory">
        {{ category }}
      </button>
    </div>

    <div class="blog-list" [@listAnimation]="paginatedPosts.length">
      <article *ngFor="let post of paginatedPosts" class="blog-item">
        <div class="blog-details" [routerLink]="['/blog', post.id]">
          <div class="blog-header">
            <h3>{{ post.title }}</h3>
            <div class="blog-links">
              <span class="date">{{ post.date | date:'mediumDate' }}</span>
              <span class="category">{{ post.category }}</span>
              <a [routerLink]="['/blog', post.id]" class="link">Read more</a>
            </div>
          </div>
          <p class="blog-description">{{ post.excerpt }}</p>
          <div class="tags">
            <ng-container *ngFor="let tag of post.tags; let i = index">
              <span class="tag" *ngIf="i < 10">{{ tag }}</span>
            </ng-container>
          </div>
        </div>
      </article>
    </div>

    <div class="pagination" *ngIf="totalPages > 1">
      <button 
        *ngFor="let page of pages" 
        (click)="changePage(page)"
        [class.active]="page === currentPage">
        {{ page }}
      </button>
    </div>
  </div>
</div>