<div class="projects-container">
  <h1>Things I've Built</h1>
  <div class="projects-content">
    <p>{{ projectsDescription }}</p>
    <div class="project-grid">
      <div class="project-card" *ngFor="let project of projects" [@listAnimation]="'in'" [hidden]="loading">
        <div class="project-thumbnail">
          <img [src]="project.thumbnailUrl" alt="{{ project.name }} thumbnail">
        </div>
        <div class="project-content">
          <h2>{{ project.name }}</h2>
          <p class="project-description">{{ project.shortDescription }}</p>
          <p class="tech-stack"><strong>Technologies:</strong> {{ project.technologies }}</p>
          <div class="project-actions">
            <a [href]="project.githubUrl" *ngIf="project.githubUrl" target="_blank" rel="noopener noreferrer" class="btn me-2">View on GitHub</a>
            <a [routerLink]="['/projects', project.id]" class="btn btn-details">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>