<div class="projects-container">
  <h1>Things I've Built</h1>
  <div class="repos-container">
    <p>{{ repoDescription }}</p>
    <div class="repo-grid">
      <ng-container *ngIf="loading">
        <div class="skeleton-loader" *ngFor="let item of [].constructor(3); let i = index">
          <div class="skeleton-title"></div>
          <div class="skeleton-description"></div>
          <div class="skeleton-language"></div>
        </div>
      </ng-container>
      <ng-container *ngIf="!loading">
        <div *ngFor="let repo of repos" class="repo-card">
          <h2>{{ repo.name }}</h2>
          <p>{{ repo.description }}</p>
          <p><strong>Language:</strong> {{ repo.language }}</p>
          <a [href]="repo.url" target="_blank" rel="noopener noreferrer" class="btn">View on GitHub</a>
        </div>
      </ng-container>
    </div>
  </div>
</div>
